/* defaults / main components */

body {
	background-color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: .8rem;
	color: #444444;
}

#navbar {
	background-color: grey;
	width: 20%;
	height: 100%!important;
	top: 0rem;
	left: 0rem;
	padding: .75rem;
	position: fixed;
}

#navbar .nav {
	font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1rem;
	color: orange;
	display: block;
	margin: .5rem 0 .5rem 1rem;
}

/* classes */
