/* default attributes */

body {
  background: #ffffff;

}

h1, h2, h3, h4 {
  font-family: 'Fira Mono', monospace;
}

/* classes */
.logo-img {
  max-width: 15rem;
}

.nav-style {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  text-transform: lowercase;
}
