/* defaults main components */

body {
	background-color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: .8rem;
	color: #444444;
}

#navbar {
	background-color: grey;
	width: 20%;
	top: 0rem;
	left: 0rem;
	position: fixed;
}

#navbar a {
	font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1rem;
	color: orange;
}

/* classes */
