/*** font import ***/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Work+Sans:400,500,600&display=swap');

/*** default attributes ***/
html, body {
  background: #ffffff;
  color: #3d3d3d;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  text-align: inherit;
}

a, a:hover {
  transition: all .35s ease;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  -moz-transition: all .35s ease;
}

a {
  color: #d95d39;
}

a:hover {
  color: #f18805;
  text-decoration: none;
  border-bottom: 2px solid #f18805;
}

blockquote {
  background-color: #eeeeee;
  color: #6d6d6d;
  line-height: 2;
  display: block;
  margin: 2rem;
  padding: 2rem;
}

blockquote i {
  color: #6d6d6d;
}

blockquote li {
  margin: .75rem 0;
}

blockquote li:first-child {
  margin: 1.5rem 0 .75rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-weight: 400;
}

i {
  color: #29267e;
}

p {
  line-height: 2;
}

td {
  width: 25%;
}

/* width classes */
.w-65 {
  width: 65%!important;
}

.w-80 {
  width: 80%!important;
}

/*** additional classes ***/

.d1,
.d2,
.d3 {
  font-family: 'Work Sans', sans-serif;
}
.d1 {
  line-height: 2;
}
.d2 {
  color: #c1d22f;
  font-weight: 500;
}

.d3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.d-img,
.d-img img {
  width: 70%;
  align: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25em;
}

.d-list{
  line-height: 2;
}

.d-list li {
  margin: 1rem 0;
}

.hvr-rmv,
.hvr-rmv a,
.hvr-rmv a:hover {
  text-decoration: none;
  border: 0px;
}

.hvr-rmv img {
  opacity: 1;
  background-color: transparent;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
}

.hvr-rmv img:hover {
  opacity: .6;
  background-color: #000000;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
}

.logo-img {
  max-width: 15rem;
}

.navbar-toggler {
  border: none;
  border-radius: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 2rem;
  }
}

.no-marg-pad {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.ovl-img,
.ovl-img img {
  transition: all .5s ease;
  overflow: hidden;
}

.ovl-img:hover img {
  transition: all .5s ease;
  transform: scale(1.15);
}
.ovl-txt,
.ovl-txt:hover {
  color: #ffffff;
  transition: all .75s ease;
}

.ovl-txt {
  opacity: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ovl-txt a,
.ovl-txt a:link,
.ovl-txt a:hover {
  color: #ffffff!important;
  text-transform: lowercase;
  border-bottom: none;
}

.ovl-txt:hover {
  background-color: #000000;
  opacity: .85!important;
}
.profile-img {
  max-width: 100%;
}

.sb-1 {
  margin-bottom: 1.5rem;
}

.sb-2 {
  margin-bottom: 2.25rem;
}

.st-1 {
  margin-top: 1.5rem;
}

.tab-1 {
  font-size: 2rem;
}

.tab-yes {
  color: #c1d22f!important;
}

.tab-no {
  color: #d95d39!important;
}

/*** bootstrap override (main) ***/
.active a {
  color: #29267e!important;
}

.card-columns .card {
  margin-bottom: 1.25rem;
}

.modal-backdrop {
  background-color: #ffffff;
  opacity: .80!important;
}

.modal-content,
.modal-dialog {
  background-color: transparent;
  border: none!important;
  border-radius: none!important;
}

.modal-backdrop,
.modal-content a,
.modal-content a:hover,
.modal-dialog a,
.modal-dialog a:hover {
  text-decoration: none;
  border: none;
}

.navbar a:link,
.navbar a:hover,
.navbar a:visited {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: none;
}

@media (max-width: 768px) {
 .nav-link {
    text-align: center;
  }
}

/*** baguette box gallery ***/
.baguetteBox-button {
    background-color: transparent !important;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-1 {
    padding: 40px;
}

/* BOOTSTRAP OVERRIDE */
.gallery-1 .row > div {
    padding: 2px;
}

.gallery-1 .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.gallery-1 .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #ffffff;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.gallery-1 .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    content: '';
    transition: 0.4s;
}

.gallery-1 .lightbox:hover:after,
.gallery-1 .lightbox:hover:before {
    opacity: 1;
}
