/*** DEFAULT ATTRIBUTES ***/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Work+Sans:400,600&display=swap');

html, body {
  background: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  line-height: 1.65rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

}
a, a:hover {
  transition-duration: .75s;
  -webkit-transition-duration: .75s;
  -o-transition-duration: .75s;
  -moz-transition-duration: .75s;
}

a {
  color: #d95d39;
}

a:hover {
  color: #f18805;
  text-decoration: none;
  border-bottom: 2px solid #f18805;
}

/* width classes */
.w-65 {
  width: 65%!important;
}

.w-80 {
  width: 80%!important;
}

/*** ADDITIONNAL CLASSES ***/
.hvr-rmv,
.hvr-rmv a,
.hvr-rmv a:hover {
  text-decoration: none;
  border: 0px;
}

.hvr-rmv img {
  opacity: 1;
  background-color: transparent;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
}

.hvr-rmv img:hover {
  opacity: .6;
  background-color: #000000;
  transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
}

.logo-img {
  max-width: 15rem;
}

.navbar-toggler {
  border: none;
  border-radius: none;
}

.no-marg-pad {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.ovl-img,
.ovl-img img {
  transition: all .5s ease;
  overflow: hidden;
}

.ovl-img:hover img {
  transition: all .5s ease;
  transform: scale(1.15);
}
.ovl-txt,
.ovl-txt:hover {
  color: #ffffff;
  transition: all .75s ease;
}

.ovl-txt {
  opacity: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ovl-txt a,
.ovl-txt a:link,
.ovl-txt a:hover {
  color: #ffffff!important;
  text-transform: lowercase;
  border-bottom: none;
}

.ovl-txt:hover {
  background-color: #000000;
  opacity: .85!important;
}
.profile-img {
  max-width: 100%;
}

/*** BOOTSTRAP OVERRIDE ***/
.active a {
  color: #29267e!important;
}

.modal-backdrop {
  background-color: #ffffff;
  opacity: .80!important;
}

.modal-content,
.modal-dialog {
  background-color: transparent;
  border: none!important;
  border-radius: none!important;
}

.modal-backdrop,
.modal-content a,
.modal-content a:hover,
.modal-dialog a,
.modal-dialog a:hover {
  text-decoration: none;
  border: none;
}

.navbar a:link,
.navbar a:hover,
.navbar a:visited {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: none;
}
